<!DOCTYPE html>
<html>
<head>
  <title>RailsCrudExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <a data-method="delete" href="/logout" rel="nofollow">Log Out</a>
<% else %>
  <a href="/sessions/new">Log In</a>
<% end %>
<%= yield %>

</body>
</html>
